:root {
    // BACKGROUND COLOR
    --font: #d8dce8;

    // --- TOGGLED NAVBAR BACKGROUND
    --toggled-background: #1f1f1f;

    // FONT COLOR
    --main-background: #1f1f1f;
}


// --- SETTING BASE STYLES
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

// --- SETTING WRAP MARGIN
.wrap {
    @media (min-width: 1200px) {
        margin: 0 8rem;
    }

    @media (max-width: 1200px) {
        margin: 0 0.75rem;
    }
}

.header {
    .auto-flick, h1 {
        font-size: 8rem;
        font-weight: 400;
        .dot {
            vertical-align: middle;
            font-size: 6rem;
        }
    }
    p {
        float: right;
        font-size: 1.5rem;
        max-width: 10rem;
    }
}

// --- NAV STYLING
nav {
    // background-color: red;
    ul {
        height: 7.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            list-style: none;
            text-decoration: none;
            font-size: 0.75rem;

            // --- TARGETING FIRST CHILD IN NAVBAR
            &:first-child {
                font-size: 1.75rem;
                font-weight: bolder;
                margin-right: auto;
            }

            // --- EXCLUDING FIRST AND LAST CHILD IN NAVBAR
            &:not(:first-child):not(:last-child) {
                margin: 0 2rem;
            }

            // --- TARGETING LAST CHILD IN NAVBAR
            &:last-child {
                margin-left: calc(50% - 30%);
            }
        }
    }

    @media (max-width: 768px) {
        // background-color: yellow;
        li {
            &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                display: none;
            }
        }
    }
}


// --- TIME COMPONENT
.time {
    pointer-events: none;
    .location {
        margin:0 2rem;
    }
    .blink {
        animation: blink 1s infinite;
    }
    @keyframes blink {
        0%, 100% { opacity: 1;}
        10% { opacity: 0;}    
    }
}




h1, h2, h3, h4, h5, p, a {
    color: var(--font);
}

h1 {
    font-size: 3.25rem;
    font-weight: 1000;
}
